.idea/
*.log
__pycache__/
*.pyc
results/
ocr_outputs/
layouts_outputs/
uploads/
img/
onnx/
conf/
static/
vietocr/
module/
utils/
check_imports.py
import_error.log
vietocr_files.log
vietocr_files_utf8.log
.env
